<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaterWare.Com Site In Awais Qamar</title>
    <link rel="stylesheet" href="{% static 'css/cssawais22.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Delicious+Handrawn&display=swap" rel="stylesheet">
</head>
<style>
    .khani90 #popcart {
        background-color: white;
        color: black;
        border: none;
        font-size: 23px;
    }
    
    #price {
        color: #153a5b;
        font-size: 30px;
        font-weight: 800;
    }
    
    #checkout {
        background-color: #153a5b;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color: white;
    }
    
    #checkout:hover {
        background-color: #2a4761;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color: white;
    }
    
    #clearCart {
        background-color: #153a5b;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color: white;
    }
    
    #clearCart:hover {
        background-color: #2a4761;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color: white;
    }
    
    .minus {
        background-color: #153a5b;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color: white;
        margin-top: 20px;
        padding: 10px 20px;
    }
    
    .minus:hover {
        background-color: #2a4761;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color: white;
    }
    
    .plus {
        background-color: #153a5b;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color: white;
        margin-top: 20px;
        padding: 10px 20px;
    }
    
    .plus:hover {
        background-color: #2a4761;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color: white;
    }
    
    .nano1 {
        margin-top: 20px;
        font-size: 40px;
    }
</style>
<style>
    #popup {
        width: 28%;
        text-align: center;
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-left: 37%;
        margin-top: 10px;
        background-color: white;
        border-radius: 20px;
        top: -1147%;
    }
    
    #popup img {
        width: 95px;
        height: 95px;
        border-radius: 50%;
        text-align: center;
        justify-content: center;
        margin-left: 135px;
        margin-top: -50px;
    }
    
    #popup h1 {
        color: black;
        font-size: 30px;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        padding-top: 40px;
    }
    
    #popup h5 {
        color: black;
        font-size: 15px;
        font-weight: 500;
        font-family: cursive;
        padding: 30px;
        padding-top: 20px;
    }
    
    #popup button {
        margin-top: 10px;
        width: 100%;
        padding: 10px 0px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: rgb(0, 255, 0);
        color: white;
        font-size: 20px;
        font-weight: 900;
        font-family: cursive;
        cursor: pointer;
        width: 50%;
        margin-left: 93px;
        margin-bottom: 30px;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg bg-body-white fixed-top py-3">

        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav khan">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="shopall.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span onclick="window.location.href='shopall.html'">SHOP ALL</span>
                        </a>
                        <ul class="dropdown-menu khan1">
                            <div class="home5-page">
                                <div class="home-page">
                                    <a href="shopall.html"><button class="anas">Explore All</button></a>
                                    <a href="hydrations.html"><button class="anasone">Hydration Set</button></a>
                                    <li><a class="dropdown-item anas3" href="accessries.html">Filters & Accessories</a></li>
                                    <li><a class="dropdown-item anas4" href="corporate.html">Corporate gifting</a></li>
                                    <div class="home1-page">
                                        <h6>Learn More</h6>
                                        <li><a class="dropdown-item anas5" href="purevis.html">PureVis™ technology</a></li>
                                        <li><a class="dropdown-item anas6" href="nanozero.html">Nano Zero technology</a></li>
                                    </div>
                                </div>
                                <div class="home2-page">
                                    <img src="/static/images/1.webp">
                                    <h1>Purifaction</h1>
                                    <p>Filter or Prufi water on the go</p>
                                </div>
                                <div class="home3-page">
                                    <img src="/static/images/2.webp">
                                    <h1>Home</h1>
                                    <p>Equipe your home with Nano Zero technology</p>
                                </div>
                                <div class="home4-page">
                                    <img src="/static/images/3.webp">
                                    <h1>Drinkware</h1>
                                    <p>Hydrate Effortlessy on the go</p>
                                </div>
                            </div>
                        </ul>

                    </li>
                </ul>
                <ul class="navbar-nav hassan">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="purification.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span onclick="window.location.href='purification.html'">PURIFICATION</span>
                        </a>
                        <ul class="dropdown-menu hassan1">
                            <div class="home5-page">
                                <div class="home-page">
                                    <a href="exploreall.html"><button class="anas">Explore All</button></a>
                                    <a href="hydrations.html"><button class="anasone">Hydration Set</button></a>
                                    <li><a class="dropdown-item anas3" href="accessries.html">Filters & Accessories</a></li>
                                    <li><a class="dropdown-item anas4" href="corporate.html">Corporate gifting</a></li>
                                    <div class="home1-page">
                                        <h6>Learn More</h6>
                                        <li><a class="dropdown-item anas5" href="purevis.html">PureVis™ technology</a></li>
                                        <li><a class="dropdown-item anas6" href="nanozero.html">Nano Zero technology</a></li>
                                    </div>
                                </div>
                                <div class="home6-page">
                                    <img src="/static/images/4.webp">
                                    <h1>LARQ Bottle PureVis™</h1>
                                    <p>From $99</p>
                                </div>
                                <div class="home7-page">
                                    <img src="/static/images/5.webp">
                                    <h1>LARQ Bottle Movement PureVis™</h1>
                                    <p>From 89</p>
                                </div>
                                <div class="home9-page">
                                    <img src="/static/images/6.webp">
                                    <h1>LARQ Bottle Filtered</h1>
                                    <p>From $49.95</p>
                                </div>
                            </div>
                        </ul>

                    </li>
                </ul>
                <ul class="navbar-nav hassan">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="homeone.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span onclick="window.location.href='homeone.html'">HOME</span>
                        </a>
                        <ul class="dropdown-menu hassan2">
                            <div class="home5-page">
                                <div class="home-page">
                                    <a href="exploreall.html"><button class="anas">Explore All</button></a>
                                    <a href="hydrations.html"><button class="anasone">Hydration Set</button></a>
                                    <li><a class="dropdown-item anas3" href="accessries.html">Filters & Accessories</a></li>
                                    <li><a class="dropdown-item anas4" href="corporate.html">Corporate gifting</a></li>
                                    <div class="home1-page">
                                        <h6>Learn More</h6>
                                        <li><a class="dropdown-item anas5" href="purevis.html">PureVis™ technology</a></li>
                                        <li><a class="dropdown-item anas6" href="nanozero.html">Nano Zero technology</a></li>
                                    </div>
                                </div>
                                <div class="home6-page">
                                    <img src="/static/images/7.webp">
                                    <h1>LARQ Pitcher PureVis™</h1>
                                    <p>From $139.00</p>
                                </div>
                                <div class="home7-page">
                                    <img src="/static/images/8.webp">
                                    <h1>LARQ Pitcher PureVis Pitcher</h1>
                                    <p>From $79</p>
                                </div>
                                <div class="home9-page">
                                    <img src="/static/images/8.webp">
                                    <h1>LARQ Pitcher PureVis™</h1>
                                    <p>From $139.95</p>
                                </div>
                            </div>
                        </ul>

                    </li>
                </ul>

                <ul class="navbar-nav hassan">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="drinkware.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span onclick="window.location.href='drinkware.html'">DRINKWARE</span>
                        </a>
                        <ul class="dropdown-menu hassan3">
                            <div class="home5-page">
                                <div class="home-page">
                                    <a href="exploreall.html"><button class="anas">Explore All</button></a>
                                    <a href="hydrations.html"><button class="anasone">Hydration Set</button></a>
                                    <li><a class="dropdown-item anas3" href="accessries.html">Filters & Accessories</a></li>
                                    <li><a class="dropdown-item anas4" href="corporate.html">Corporate gifting</a></li>
                                    <div class="home1-page">
                                        <h6>Learn More</h6>
                                        <li><a class="dropdown-item anas5" href="purevis.html">PureVis™ technology</a></li>
                                        <li><a class="dropdown-item anas6" href="nanozero.html">Nano Zero technology</a></li>
                                    </div>
                                </div>
                                <div class="home6-page">
                                    <img src="/static/images/9.webp">
                                    <h1>LARQ Bottle Swig Top</h1>
                                    <p>From $39</p>
                                </div>
                                <div class="home7-page">
                                    <img src="/static/images/10.webp">
                                    <h1>LARQ Bottle Flip Top Bottle</h1>
                                    <p>From $39</p>
                                </div>
                                <div class="home9-page">
                                    <img src="/static/images/11.webp">
                                    <h1>LARQ Bottle Twist Top</h1>
                                    <p>From $29</p>
                                </div>
                            </div>
                        </ul>

                    </li>
                </ul>

            </div>
            <a class="navbar-brand" href="home.html">LARQ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="technology.html">TECHNOLOGY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faq.html">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html"><i class="fa fa-user-o"></i></a>
                    </li>

                    <div class="nav-item khani90">
                        <!-- <a class="nav-link" id="farha2" aria-current="page"> -->
                        <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                                <i class="fa fa-cart-arrow-down">(<span id="cart">0</span>)</i>
                        <!-- </button> -->
                        </a>
                    </div>
                    <!-- <li class="nav-item">
                        <a class="nav-link"><i class="fa fa-cart-arrow-down">(<span id="cart">0</span>)</i></a>
                    </li> -->

                </ul>
            </div>
        </div>
    </nav>

    <div id="allreview-page" class="section-p3">
        <h1>Select a LARQ product</h1>
    </div>

    <div id="allreviews-page1" class="section-p9">
        <div class="allreviews-page2">
            <div class="allreviews-page3" id="review1">
                <div class="allreviews-page4">
                    <img src="/static/images/All Product Images/130.webp">
                </div>
                <div class="allreviews-page5">
                    <h2>LARQ Bottle PureVis™</h2>
                    <div class="allreviews-page6">
                        <h4>4.6/5</h4>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                    </div>
                </div>
            </div>
            <div class="allreviews-page3" id="review2">
                <div class="allreviews-page4">
                    <img src="/static/images/All Product Images/131.webp">
                </div>
                <div class="allreviews-page5">
                    <h2>LARQ Bottle Filtered</h2>
                    <div class="allreviews-page6">
                        <h4>4.7/5</h4>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                    </div>
                </div>
            </div>
            <div class="allreviews-page3" id="review3">
                <div class="allreviews-page4">
                    <img src="/static/images/All Product Images/132.webp">
                </div>
                <div class="allreviews-page5">
                    <h2>LARQ Pitcher PureVis™</h2>
                    <div class="allreviews-page6">
                        <h4>4.7/5</h4>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                    </div>
                </div>
            </div>
            <div class="allreviews-page3" id="review4">
                <div class="allreviews-page4">
                    <img src="/static/images/All Product Images/133.webp">
                </div>
                <div class="allreviews-page5">
                    <h2>LARQ Pitcher</h2>
                    <div class="allreviews-page6">
                        <h4>4.3/5</h4>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                    </div>
                </div>
            </div>
            <div class="allreviews-page3" id="review5">
                <div class="allreviews-page4">
                    <img src="/static/images/All Product Images/134.webp">
                </div>
                <div class="allreviews-page5">
                    <h2>LARQ Bottle Swig Top</h2>
                    <div class="allreviews-page6">
                        <h4>4.6/5</h4>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                    </div>
                </div>
            </div>
            <div class="allreviews-page3" id="review6">
                <div class="allreviews-page4">
                    <img src="/static/images/All Product Images/135.webp">
                </div>
                <div class="allreviews-page5">
                    <h2>LARQ Bottle Flip Top</h2>
                    <div class="allreviews-page6">
                        <h4>4.6/5</h4>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                    </div>
                </div>
            </div>
            <div class="allreviews-page3" id="review7">
                <div class="allreviews-page4">
                    <img src="/static/images/All Product Images/136.webp">
                </div>
                <div class="allreviews-page5">
                    <h2>LARQ Bottle Twist Top</h2>
                    <div class="allreviews-page6">
                        <h4>4.7/5</h4>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="allreview8" class="section-p4">
        <div class="allreviews9-page">
            <img src="/static/images/All Product Images/130.webp">
        </div>
        <div class="allreview10-page">
            <h1>LARQ Bottle Twist Top</h1>
            <h2> 4.7 <span> /5</span></h2>
            <div class="allreview11-page">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-empty"></i>
                <h5>122 reviews</h5>
            </div>
            <a href="larqpure.html"><button>View product</button></a>
        </div>
    </div>

    <div id="allreview9" class="section-p4">
        <div class="allreviews9-page">
            <img src="/static/images/All Product Images/131.webp">
        </div>
        <div class="allreview10-page">
            <h1>
                LARQ Bottle Filtered</h1>
            <h2> 4.7 <span> /5</span></h2>
            <div class="allreview11-page">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-empty"></i>
                <h5>483 reviews</h5>
            </div>
            <a href="larqpure.html"><button>View product</button></a>
        </div>
    </div>

    <div id="allreview10" class="section-p4">
        <div class="allreviews9-page">
            <img src="/static/images/All Product Images/132.webp">
        </div>
        <div class="allreview10-page">
            <h1>
                LARQ Bottle Filtered</h1>
            <h2> 4.7 <span> /5</span></h2>
            <div class="allreview11-page">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-empty"></i>
                <h5>483 reviews</h5>
            </div>
            <a href="larqpure.html"><button>View product</button></a>
        </div>
    </div>

    <div id="allreview11" class="section-p4">
        <div class="allreviews9-page">
            <img src="/static/images/All Product Images/133.webp">
        </div>
        <div class="allreview10-page">
            <h1>
                LARQ Bottle Filtered</h1>
            <h2> 4.7 <span> /5</span></h2>
            <div class="allreview11-page">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-empty"></i>
                <h5>483 reviews</h5>
            </div>
            <a href="larqpure.html"><button>View product</button></a>
        </div>
    </div>
    <div id="allreview12" class="section-p4">
        <div class="allreviews9-page">
            <img src="/static/images/All Product Images/134.webp">
        </div>
        <div class="allreview10-page">
            <h1>
                LARQ Bottle Filtered</h1>
            <h2> 4.7 <span> /5</span></h2>
            <div class="allreview11-page">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-empty"></i>
                <h5>483 reviews</h5>
            </div>
            <a href="larqpure.html"><button>View product</button></a>
        </div>
    </div>

    <div id="allreview13" class="section-p4">
        <div class="allreviews9-page">
            <img src="/static/images/All Product Images/135.webp">
        </div>
        <div class="allreview10-page">
            <h1>
                LARQ Bottle Filtered</h1>
            <h2> 4.7 <span> /5</span></h2>
            <div class="allreview11-page">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-empty"></i>
                <h5>483 reviews</h5>
            </div>
            <a href="larqpure.html"><button>View product</button></a>
        </div>
    </div>

    <div id="allreview14" class="section-p4">
        <div class="allreviews9-page">
            <img src="/static/images/All Product Images/136.webp">
        </div>
        <div class="allreview10-page">
            <h1>
                LARQ Bottle Filtered</h1>
            <h2> 4.7 <span> /5</span></h2>
            <div class="allreview11-page">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-empty"></i>
                <h5>483 reviews</h5>
            </div>
            <a href="larqpure.html"><button>View product</button></a>
        </div>
    </div>


    <div id="home33-page" class="section-p7">
        <div class="home34-page">
            <h1>Become an insider</h1>
            <p>Receive exclusive offers, hydration news, and more when you subscribe.</p>
            <div class="home35-page">
                <form action="home.html" method="POST">
                    {% csrf_token%}
                    <input type="email" id="email" name="email" placeholder="Email Adress">
                    <button type="submit" value="submit" onclick="openPopup()">Submit</button>
                </form>
            </div>
            <div class="home36-page ">
                <a href=""><i class="fa fa-facebook "></i></a>
                <a href="# "><i class=" fa fa-instagram "></i></a>
                <a href="# "><i class=" fa fa-youtube-play "></i></a>
                <a href="# "><i class=" fa fa-twitter "></i></a>
            </div>

        </div>
        <div class="home38-page ">
            <ul>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="retailer.html">Find a retailer</a></li>
                <li><a href="corporate.html">Corporate gifting</a></li>
            </ul>
        </div>
        <div class="home38-page ">
            <ul>
                <li><a href="https://basq.livelarq.com/">basq magazine</a></li>
                <li><a href="press.html">Press</a></li>
                <li><a href="ourstory.html">Our story</a></li>
                <li><a href="affilite.html">Affiliate program</a></li>
                <li><a href="larq.html">Ambassador program</a></li>
            </ul>
        </div>
        <div class="home39-page ">
            <img src="/static/images/1.gif ">
        </div>
    </div>

    <div id="home33-page" class="section-p7">
        <div class="home34-page">
            <h1>Become an insider</h1>
            <p>Receive exclusive offers, hydration news, and more when you subscribe.</p>
            <div class="home35-page">
                <form action="home.html" method="POST">
                    {% csrf_token%}
                    <input type="email" id="email" name="email" placeholder="Email Adress">
                    <button type="submit" value="submit" onclick="openPopup()">Submit</button>
                </form>
            </div>
            <div class="home36-page ">
                <a href="https://www.facebook.com/livelarq/"><i class="fa fa-facebook "></i></a>
                <a href="https://www.instagram.com/livelarq/"><i class=" fa fa-instagram "></i></a>
                <a href="https://www.youtube.com/@stylewithuzma4"><i class=" fa fa-youtube-play "></i></a>
                <a href="https://twitter.com/livelarq?lang=en"><i class=" fa fa-twitter "></i></a>
            </div>

        </div>
        <div class="home38-page ">
            <ul>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="allreviews.html">Reviews</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="retailer.html">Find a retailer</a></li>
                <li><a href="corporate.html">Corporate gifting</a></li>
            </ul>
        </div>
        <div class="home38-page ">
            <ul>
                <li><a href="https://basq.livelarq.com/">basq magazine</a></li>
                <li><a href="press.html">Press</a></li>
                <li><a href="ourstory.html">Our story</a></li>
                <li><a href="affilite.html">Affiliate program</a></li>
                <li><a href="larq.html">Ambassador program</a></li>
            </ul>
        </div>
        <div class="home39-page ">
            <img src="/static/images/1.gif ">
        </div>
    </div>

    {% if messages %}
    <div class="{{ message.tags }} " class="home1" id="popup" role="alert">
        {% for message in messages %}
        <img src="/static/images/All Product Images/108.PNG" class="awaiskhan3">
        <h1 class="awaiskhan1">{{ message }}</h1>
        <h5 class="awaiskhan2">You details has been successfully<br> submitted. Thanks! </h5>
        <button type="button" id="okButton" onclick="closePopup()">OK</button> {% endfor %}
    </div>
    {% endif %}

    <div class="home37-page " class="section-p7">
        <a href="# "><button class="husi "><img src="/static/images/1.svg"><spam>United State</spam></button></a>
        <a href="# "><button class="husi1 ">
            Terms & Privacy</button></a>
        <a href=""><button class="husi1 ">Accessibility</button></a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js">
    </script>


    {% block js %}
    <script>
        // Find out the cart items from localsyorage
        if (localStorage.getItem('cart') == null) {
            var cart = {};
        } else {
            cart = JSON.parse(localStorage.getItem('cart'));
            document.getElementById('cart').innerHTML = Object.keys(cart).length;
            document.getElementById('cart').innerHTML = Object.values(cart).reduce((previous, current) => previous + current, 0)
            updateCart(cart);
            // updateCart1(cart);
        }
        // if the add too cart the button is clicked , add/increment the items
        // $('.cart').click(function() {
        $('.divpr').on('click', 'button.cart', function() {
            var idstr = this.id.toString();
            console.log(idstr);
            if (cart[idstr] != undefined) {
                qty = cart[idstr][0] + 1;
            } else {
                qty = 1;
                var nameElement = document.getElementById('name' + idstr);
                if (nameElement) {
                    name = nameElement.innerHTML;
                } else {
                    // handle the case where the element doesn't exist
                }
                var priceElement = document.getElementById('price' + idstr);
                if (priceElement) {
                    price = priceElement.innerHTML;
                    console.log(price);
                } else {
                    // handle the case where the element doesn't exist
                }
                // var element = document.getElementById('div' + idstr);
                // if (element) {
                //     div = element.innerHTML;
                //     console.log(div);
                // } else {
                //     // handle the case where the element doesn't exist
                // }
                var imageElement = document.querySelector('.swing2');


                if (imageElement) {
                    image = imageElement.getAttribute('src');
                    console.log(image);
                } else {
                    // handle the case where the element doesn't exist
                }
                cart[idstr] = [qty, name, parseInt(price), image];
            }
            localStorage.setItem('cart', JSON.stringify(cart));
            document.getElementById('cart').innerHTML = Object.keys(cart).length;
            document.getElementById('cart').innerHTML = Object.values(cart).reduce((previous, current) => previous + current, 0)
            updateCart(cart);
            updatePopover(cart);
        });

        $(document).ready(function() {
            $('#popcart').popover({
                // content: ' <p> Cart </p>',
                // html: true,
                // placement: 'bottom'
            });

        });

        $(document).ready(function() {
            // make sure #popcart exists before trying to update it
            if ($('#popcart').length) {
                updatePopover(cart);
            }
        });

        updatePopover(cart);


        function updatePopover(cart) {
            var i = 1;
            var totalAmount = 0; // Initialize total amount counter
            for (var item in cart) {
                // popStr += "<b>" + i + "</b>. ";
                // Assuming the price ID follows the same pattern
                if (nameElement && priceElement && image && imageElement) {
                    popStr += nameElement.innerHTML.slice(0, 19) + " ...Product Qty: " + quantity + ", Price: $ " + totalPriceForItem.toFixed(2) + '<br>'; // Adding name and total price
                } else {
                    console.error('Failed to retrieve necessary elements or image.'); // Log an error if any element or image is missing
                }
                i++;
            }
            popStr += "</div> <a href='checkout.html'><button class='btn nano' id ='checkout'>Checkout</button></a> <button class='btn nono' onclick='clearCart()' id ='clearCart'>Clear Cart</button>";
            var $j = jQuery.noConflict();
            $j('#popcart').attr('data-content', popStr1 + popStr2 + popStr3 + popStr + "</div>");
            $(document).ready(function() {
                $('#popcart').popover('show');
            });
        }


        // function updatePopover(cart) {
        //     var popStr1 = "<h5 class='awais300'> Your cart </h5><div>";
        //     var popStr2 = "<h4 class='awais301'> You're $51.00 away from $10 in store credit!";
        //     var popStr3 = "<h4 class='awais302'> Select Free Standard Shipping in Checkout.";
        //     var popStr = "<h4> Cart for your items in my shopping cart </h4><div class='mx-2 my-2 awais303'>";
        //     var i = 1;
        //     var totalAmount = 0;
        //     for (var item in cart) {
        //         popStr += "<b>" + i + "</b>. ";
        //         var nameElement = document.getElementById('name' + item);
        //         var priceElement = document.getElementById('price' + item); // Assuming the price ID follows the same pattern
        //         var image = cart[item][1]; // Assuming the image URL is stored at index 3 of the cart item array
        //         var imageElement = document.querySelector('.swing1'); // Attempt to select the image element
        //         if (nameElement && priceElement && image && imageElement) {
        //             var quantity = cart[item][0];
        //             var price = parseFloat(cart[item][2]); // Parse price as float
        //             var subtotal = quantity * price; // Calculate subtotal for this item
        //             totalPrice += subtotal;
        //             popStr += "<img src='/static/images/All Product Images/20.png'" + image + "' alt='Product Image' style='width: 100px; height: auto;'> "; // Adding image
        //             popStr += nameElement.innerHTML.slice(0, 19) + " ...Product Qty: " + cart[item][0] + ", Price: $ " + cart[item][2] + '<br>'; // Adding name and price

        //         } else {
        //             console.error('Failed to retrieve necessary elements or image.'); // Log an error if any element or image is missing
        //         }
        //         i++;
        //     }
        //     popStr += "</div> <a href='checkout.html'><button class='btn btn-success' id ='checkout'>Checkout</button></a> <button class='btn btn-success' onclick='clearCart()' id ='clearCart'>Clear Cart</button>";
        //     var $j = jQuery.noConflict();
        //     $j('#popcart').attr('data-content', popStr1 + popStr2 + popStr3 + popStr + "</div>");
        //     $(document).ready(function() {
        //         $('#popcart').popover('show');
        //     });
        // }

        function clearCart() {
            // console.log(cabrt)
            cart = JSON.parse(localStorage.getItem('cart'));
            for (var item in cart) {
                var element = document.getElementById('div' + item);
                if (element !== null) {
                    element.innerHTML = '<a><button class="cart" id="' + item + '">Add to cart</button></a>';
                } else {
                    // console.log("Element with ID 'div" + item + "' not found.");
                }
            }
            localStorage.clear()
            cart = {};
            updateCart(cart);
            // updateCart1(cart);
        }

        function updateCart(cart) {
            // console.log(cart)
            var sum = 0;
            for (var item in cart) {
                sum = sum + cart[item][0];
                var element = document.getElementById('div' + item);
                if (element !== null) {
                    // element.innerHTML = "<button id='minus" + item + "' class='btn  minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn  plus'> + </button>";
                } else {
                    // console.log("Element with ID 'div" + item + "' not found.");
                }
            }
            document.getElementById('cart').innerHTML = sum;
            localStorage.setItem('cart', JSON.stringify(cart));
            updatePopover(cart);
        }


        // $('.divpr').on("click", "button.minus", function() {

        //     // console.log("minus clicked");
        //     a = this.id.slice(7, );
        //     cart['pr' + a][0] = cart['pr' + a][0] - 1;
        //     cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
        //     document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        //     updateCart(cart);

        // });
        // $('.divpr').on("click", "button.plus", function() {
        //     // console.log("minus clicked");
        //     a = this.id.slice(6, );
        //     cart['pr' + a][0] = cart['pr' + a][0] + 1;
        //     document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        //     updateCart(cart);
        // });





        // Event delegation for minus buttons
    </script>
    {% endblock js %}

    <script>
        let popup = document.getElementById("popup");


        function openPopup() {
            popup.classList.add("open-popup");
            console.log(popup)
        }

        function closePopup() {
            popup.classList.remove("open-popup");
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var okButton = document.getElementById("okButton");
            var popup = document.getElementById("popup");

            if (okButton && popup) {
                okButton.addEventListener("click", function() {
                    popup.style.display = "none"; // Hide the popup
                });
            }
        });
    </script>





    <script>
        const review1 = document.getElementById("review1");
        const review2 = document.getElementById("review2");
        const review3 = document.getElementById("review3");
        const review4 = document.getElementById("review4");
        const review5 = document.getElementById("review5");
        const review6 = document.getElementById("review6");
        const review7 = document.getElementById("review7");
        const review8 = document.getElementById("allreview8");
        const review9 = document.getElementById("allreview9");
        const review10 = document.getElementById("allreview10");
        const review11 = document.getElementById("allreview11");
        const review12 = document.getElementById("allreview12");
        const review13 = document.getElementById("allreview13");
        const review14 = document.getElementById("allreview14");

        review1.addEventListener('click', () => {
            review1.style.border = "1px solid black";
            review2.style.border = "1px solid rgb(238, 236, 236)";
            review3.style.border = "1px solid rgb(238, 236, 236)";
            review4.style.border = "1px solid rgb(238, 236, 236)";
            review5.style.border = "1px solid rgb(238, 236, 236)";
            review6.style.border = "1px solid rgb(238, 236, 236)";
            review7.style.border = "1px solid rgb(238, 236, 236)";
            review8.style.display = "flex";
            review9.style.display = "none";
            review10.style.display = "none";
            review11.style.display = "none";
            review12.style.display = "none";
            review13.style.display = "none";
            review14.style.display = "none";
        });

        review2.addEventListener('click', () => {
            review1.style.border = "1px solid rgb(238, 236, 236)";
            review2.style.border = "1px solid black";
            review3.style.border = "1px solid rgb(238, 236, 236)";
            review4.style.border = "1px solid rgb(238, 236, 236)";
            review5.style.border = "1px solid rgb(238, 236, 236)";
            review6.style.border = "1px solid rgb(238, 236, 236)";
            review7.style.border = "1px solid rgb(238, 236, 236)";
            review8.style.display = "none";
            review9.style.display = "flex";
            review10.style.display = "none";
            review11.style.display = "none";
            review12.style.display = "none";
            review13.style.display = "none";
            review14.style.display = "none";
        });

        review3.addEventListener('click', () => {
            review1.style.border = "1px solid rgb(238, 236, 236)";
            review2.style.border = "1px solid rgb(238, 236, 236)";
            review3.style.border = "1px solid black";
            review4.style.border = "1px solid rgb(238, 236, 236)";
            review5.style.border = "1px solid rgb(238, 236, 236)";
            review6.style.border = "1px solid rgb(238, 236, 236)";
            review7.style.border = "1px solid rgb(238, 236, 236)";
            review8.style.display = "none";
            review9.style.display = "none";
            review10.style.display = "flex";
            review11.style.display = "none";
            review12.style.display = "none";
            review13.style.display = "none";
            review14.style.display = "none";
        });
        review4.addEventListener('click', () => {
            review1.style.border = "1px solid rgb(238, 236, 236)";
            review2.style.border = "1px solid rgb(238, 236, 236)";
            review3.style.border = "1px solid rgb(238, 236, 236)";
            review4.style.border = "1px solid black";
            review5.style.border = "1px solid rgb(238, 236, 236)";
            review6.style.border = "1px solid rgb(238, 236, 236)";
            review7.style.border = "1px solid rgb(238, 236, 236)";
            review8.style.display = "none";
            review9.style.display = "none";
            review10.style.display = "none";
            review11.style.display = "flex";
            review12.style.display = "none";
            review13.style.display = "none";
            review14.style.display = "none";
        });
        review5.addEventListener('click', () => {
            review1.style.border = "1px solid rgb(238, 236, 236)";
            review2.style.border = "1px solid rgb(238, 236, 236)";
            review3.style.border = "1px solid rgb(238, 236, 236)";
            review4.style.border = "1px solid rgb(238, 236, 236)";
            review5.style.border = "1px solid black";
            review6.style.border = "1px solid rgb(238, 236, 236)";
            review7.style.border = "1px solid rgb(238, 236, 236)";
            review8.style.display = "none";
            review9.style.display = "none";
            review10.style.display = "none";
            review11.style.display = "none";
            review12.style.display = "flex";
            review13.style.display = "none";
            review14.style.display = "none";
        });
        review6.addEventListener('click', () => {
            review1.style.border = "1px solid rgb(238, 236, 236)";
            review2.style.border = "1px solid rgb(238, 236, 236)";
            review3.style.border = "1px solid rgb(238, 236, 236)";
            review4.style.border = "1px solid rgb(238, 236, 236)";
            review5.style.border = "1px solid rgb(238, 236, 236)";
            review6.style.border = "1px solid black";
            review7.style.border = "1px solid rgb(238, 236, 236)";
            review8.style.display = "none";
            review9.style.display = "none";
            review10.style.display = "none";
            review11.style.display = "none";
            review12.style.display = "none";
            review13.style.display = "flex";
            review14.style.display = "none";
        });
        review7.addEventListener('click', () => {
            review1.style.border = "1px solid rgb(238, 236, 236)";
            review2.style.border = "1px solid rgb(238, 236, 236)";
            review3.style.border = "1px solid rgb(238, 236, 236)";
            review4.style.border = "1px solid rgb(238, 236, 236)";
            review5.style.border = "1px solid rgb(238, 236, 236)";
            review6.style.border = "1px solid rgb(238, 236, 236)";
            review7.style.border = "1px solid black";
            review8.style.display = "none";
            review9.style.display = "none";
            review10.style.display = "none";
            review11.style.display = "none";
            review12.style.display = "none";
            review13.style.display = "none";
            review14.style.display = "flex";
        });
    </script>





</body>

</html>