        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
        
        .section-p1 {
            padding: 120px 120px;
        }
        
        .section-p2 {
            padding: 100px 100px;
        }
        
        .section-p3 {
            padding: 80px 80px;
        }
        
        .section-p4 {
            padding: 60px 80px;
        }
        
        .section-p5 {
            padding: 40px 120px;
        }
        
        .section-p6 {
            padding: 0px 80px;
        }
        
        .section-p7 {
            padding: 60px 70px 0px 70px;
        }
        
        .navbar {
            background-color: white;
        }
        
        .navbar .navbar-brand {
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            margin-right: 240px;
            font-family: Algerian;
            color: #153a5b;
            font-size: 26px;
            font-weight: 600;
            letter-spacing: 5px;
        }
        
        .navbar .container-fluid .navbar-nav .nav-link {
            font-size: 0.8rem;
            text-transform: uppercase;
            font-family: Value;
            font-weight: 600;
            color: #153a5b;
            letter-spacing: 0.1rem;
        }
        
        .navbar .container-fluid .navbar-nav .nav-link i {
            color: #153a5b;
            font-size: 18px;
            font-weight: 700;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page {
            width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: white;
            padding: 20px;
            border: none;
            outline: none;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home-page {
            display: flex;
            flex-direction: column;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home-page .anas:hover {
            color: white;
            border: 1px solid rgb(21, 58, 91);
            background-color: rgb(21, 58, 91);
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home-page .anas {
            color: rgb(21, 58, 91);
            border: 1px solid rgb(21, 58, 91);
            padding: 10px 20px;
            border-radius: 50px;
            font-size: 1rem;
            font-weight: bold;
            font-family: "Value Bold";
            background-color: white;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home-page .anasone {
            color: white;
            border: 1px solid rgb(21, 58, 91);
            padding: 10px 23px;
            border-radius: 50px;
            font-size: 0.9rem;
            font-weight: bold;
            font-family: "Value Bold";
            background-color: rgb(21, 58, 91);
            margin-top: 20px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home-page .anasone:hover {
            color: rgb(21, 58, 91);
            border: 1px solid rgb(21, 58, 91);
            background-color: white;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home-page .anas3 {
            color: rgb(21, 58, 91);
            font-size: 0.9rem;
            font-weight: 400;
            font-family: "Value Bold";
            padding-top: 33px;
            text-align: start;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home-page .anas4 {
            color: rgb(21, 58, 91);
            font-size: 0.9rem;
            font-weight: 400;
            font-family: "Value Bold";
            padding-top: 5px;
            text-align: start;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home-page .home1-page {
            padding-top: 35px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home-page .home1-page h6 {
            color: black;
            font-size: 20px;
            font-weight: 600;
            font-family: "value Bold";
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home-page .home1-page .anas5 {
            color: rgb(21, 58, 91);
            font-size: 1rem;
            font-weight: 400;
            font-family: "Value Bold";
            padding-top: 5px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home-page .home1-page .anas6 {
            color: rgb(21, 58, 91);
            font-size: 1rem;
            font-weight: 400;
            font-family: "Value Bold";
            padding-top: 5px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home2-page {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            text-align: center;
            justify-content: center;
            margin-left: 20px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home2-page img {
            width: 320px;
            height: 380px;
            border-radius: 10px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home2-page:hover img {
            cursor: pointer;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home2-page h1 {
            position: absolute;
            color: white;
            font-family: "Value Bold";
            font-weight: bold;
            font-size: 1.3rem;
            bottom: 40px;
            left: 30%;
            text-align: center;
            align-items: center;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home2-page:hover h1 {
            cursor: pointer;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home2-page p {
            position: absolute;
            color: white;
            font-family: "Value Bold";
            font-weight: 400;
            font-size: 0.9rem;
            bottom: 5px;
            left: 61px;
            text-align: center;
            align-items: center;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home2-page:hover p {
            cursor: pointer;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home3-page {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            text-align: center;
            justify-content: center;
            margin-left: 20px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home3-page img {
            width: 320px;
            height: 380px;
            border-radius: 10px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home3-page:hover img {
            cursor: pointer;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home3-page h1 {
            position: absolute;
            color: white;
            font-family: "Value Bold";
            font-weight: bold;
            font-size: 1.3rem;
            bottom: 43px;
            left: 41%;
            text-align: center;
            align-items: center;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home3-page:hover h1 {
            cursor: pointer;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home3-page p {
            position: absolute;
            color: white;
            font-family: "Value Bold";
            font-weight: 400;
            font-size: 0.9rem;
            bottom: 6px;
            left: 39px;
            text-align: center;
            align-items: center;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home3-page:hover p {
            cursor: pointer;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home4-page {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            text-align: center;
            justify-content: center;
            margin-left: 20px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home4-page img {
            width: 320px;
            height: 380px;
            border-radius: 10px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home4-page:hover img {
            cursor: pointer;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home4-page h1 {
            position: absolute;
            color: white;
            font-family: "Value Bold";
            font-weight: bold;
            font-size: 1.3rem;
            bottom: 40px;
            left: 35%;
            text-align: center;
            align-items: center;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home4-page:hover h1 {
            cursor: pointer;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home4-page p {
            position: absolute;
            color: white;
            font-family: "Value Bold";
            font-weight: 400;
            font-size: 0.9rem;
            bottom: 5px;
            left: 69px;
            text-align: center;
            align-items: center;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home4-page:hover p {
            cursor: pointer;
        }
        
        .navbar .container-fluid .hassan {
            padding-left: 30px;
            position: relative;
        }
        
        .navbar .container-fluid .hassan .hassan1 {
            position: absolute;
            left: -110px;
        }
        
        .navbar .container-fluid .khan {
            position: relative;
        }
        
        .navbar .container-fluid .khan .khan1 {
            position: absolute;
            left: 0px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home6-page {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            text-align: center;
            justify-content: center;
            margin-left: 20px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home6-page img {
            width: 320px;
            height: 390px;
            border-radius: 10px;
            background-color: rgb(243, 243, 243);
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home6-page:hover img {
            cursor: pointer;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home6-page h1 {
            position: absolute;
            color: rgb(21, 58, 91);
            font-weight: 500;
            font-size: clamp(1.06667rem, -1.14745px + 1.06667rem + 0.268097vw, 1.33333rem);
            bottom: 20px;
            left: 22%;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home6-page:hover h1 {
            cursor: pointer;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home6-page p {
            position: absolute;
            color: rgb(21, 58, 91);
            font-size: clamp(0.93333rem, -0.573727px + 0.93333rem + 0.134048vw, 1.06667rem);
            bottom: -16px;
            left: 42%;
            margin-bottom: 20px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home6-page:hover p {
            cursor: pointer;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home7-page {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            text-align: center;
            justify-content: center;
            margin-left: 20px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home7-page img {
            width: 320px;
            height: 390px;
            border-radius: 10px;
            background-color: rgb(243, 243, 243);
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home7-page:hover img {
            cursor: pointer;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home7-page h1 {
            position: absolute;
            color: rgb(21, 58, 91);
            font-weight: 500;
            font-size: clamp(1.06667rem, -1.14745px + 1.06667rem + 0.268097vw, 1.33333rem);
            bottom: 20px;
            left: 9%;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home7-page:hover h1 {
            cursor: pointer;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home7-page p {
            position: absolute;
            color: rgb(21, 58, 91);
            font-size: clamp(0.93333rem, -0.573727px + 0.93333rem + 0.134048vw, 1.06667rem);
            bottom: -16px;
            left: 42%;
            margin-bottom: 20px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home7-page:hover p {
            cursor: pointer;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home9-page {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            text-align: center;
            justify-content: center;
            margin-left: 20px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home9-page img {
            width: 320px;
            height: 390px;
            border-radius: 10px;
            background-color: rgb(243, 242, 242);
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home9-page:hover img {
            cursor: pointer;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home9-page h1 {
            position: absolute;
            color: rgb(21, 58, 91);
            font-weight: 500;
            font-size: clamp(1.06667rem, -1.14745px + 1.06667rem + 0.268097vw, 1.33333rem);
            bottom: 20px;
            left: 22%;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home9-page:hover h1 {
            cursor: pointer;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home9-page p {
            position: absolute;
            color: rgb(21, 58, 91);
            font-size: clamp(0.93333rem, -0.573727px + 0.93333rem + 0.134048vw, 1.06667rem);
            bottom: -16px;
            left: 39%;
            margin-bottom: 20px;
        }
        
        .navbar .container-fluid .navbar-nav .dropdown-menu .home5-page .home9-page:hover p {
            cursor: pointer;
        }
        
        .navbar .container-fluid .hassan {
            padding-left: 30px;
            position: relative;
        }
        
        .navbar .container-fluid .hassan .hassan2 {
            position: absolute;
            left: -260px;
        }
        
        .navbar .container-fluid .hassan {
            padding-left: 30px;
            position: relative;
        }
        
        .navbar .container-fluid .hassan .hassan3 {
            position: absolute;
            left: -370px;
        }
        
        #home10-page {
            display: flex;
            flex-direction: column;
            background-image: url('/static/images/2.jpg');
            mask-repeat: no-repeat;
            background-size: cover;
            background-position: top 20% left 0%;
            width: 100%;
            height: 90vh;
            padding-left: 50px;
            padding-top: 15%;
        }
        
        #home10-page h5 {
            color: #ffffff;
            font-size: clamp(0.938rem, 0.833rem + 0.463vw, 1.25rem);
            line-height: clamp(1.25rem, 1.143rem + 0.476vw, 1.375rem);
            margin-bottom: clamp(0.469rem, 0.284rem + 0.379vw, 0.625rem);
            margin-top: 0;
            -webkit-transition: 0.8s ease-in-out;
            transition: 0.8s ease-in-out;
            font-weight: 400;
        }
        
        #home10-page h1 {
            color: #ffffff;
            font-size: clamp(1.875rem, 0.268rem + 7.143vw, 3.75rem);
            font-weight: 900;
            line-height: clamp(2.5rem, 1.429rem + 4.762vw, 3.75rem);
            letter-spacing: -0.00133rem;
        }
        
        #home10-page h3 {
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            padding-top: 20px;
        }
        
        #home10-page button {
            margin-top: 30px;
            padding: 13px 30px;
            border-radius: 75px;
            background-color: #ffffff;
            font-family: Value Bold;
            font-weight: 600;
            font-size: 19px;
            line-height: 1;
            letter-spacing: 3;
            cursor: pointer;
            color: rgb(21, 58, 91);
            border: none;
        }
        
        #home10-page button:hover {
            border: 1px solid rgb(21, 58, 91);
            background-color: rgb(21, 58, 91);
            color: #ffffff;
            letter-spacing: 4;
        }
        
        #home11-page {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        #home11-page .home12-page h1 {
            color: rgb(21, 58, 91);
            letter-spacing: 2px;
            font-size: 35px;
            font-weight: bold;
            font-family: "Value boldb";
        }
        
        #home11-page .home12-page .home13-page {
            display: flex;
        }
        
        #home11-page .home12-page .home13-page i {
            display: flex;
            padding: 0px 10px 0px 0px;
            font-size: 18px;
            font-weight: 800;
            color: goldenrod;
        }
        
        #home11-page .home12-page h5 {
            padding-top: 10px;
            font-size: 16px;
            color: #686969;
            cursor: pointer;
        }
        
        #home11-page .home14-page {
            margin-top: 10px;
        }
        
        #home11-page .home14-page button {
            color: #153a5b;
            font-size: 18px;
            font-weight: 800;
            padding: 10px 20px;
            border: 1px solid #153a5b;
            background-color: white;
            cursor: pointer;
            border-radius: 50px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin-top: 30px;
        }
        
        #home11-page .home14-page button:hover {
            color: white;
            border: 1px solid #153a5b;
            background-color: #153a5b;
        }
        
        #home15-page {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        #home15-page .home16-page {
            width: 24%;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            background-color: rgb(236, 250, 255);
            padding: 20px;
        }
        
        #home15-page .home16-page h4 {
            color: #052f53;
            font-size: 19px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 500;
            padding-top: 5px;
            line-height: 27px;
        }
        
        #home15-page .home16-page img {
            padding-top: 35px;
            width: 100px;
        }
        
        #home17-page {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        
        #home17-page h1 {
            color: #052f53;
            font-size: 55px;
            font-weight: 900;
            letter-spacing: 2px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        #home17-page .home18-page {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        #home17-page .home18-page .home19-page {
            width: 32%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            margin-top: 30px;
        }
        
        #home17-page .home18-page .home19-page img {
            border-radius: 16px;
        }
        
        #home17-page .home18-page .home19-page h2 {
            color: #052f53;
            font-size: 25px;
            font-weight: 800;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding-top: 14px;
            letter-spacing: 2px;
        }
        
        #home17-page .home18-page .home19-page button {
            border: none;
            color: #052f53;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
            text-decoration: underline;
            outline: none;
            padding-bottom: 20px;
            background-color: white;
        }
        
        #home20-page {
            background-color: rgb(253, 235, 238);
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 0px 80px;
            border-radius: 10px;
        }
        
        #home20-page .home21-page {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            width: 32%;
        }
        
        #home20-page .home21-page i {
            font-size: 42px;
            font-weight: 300;
            color: rgb(255, 85, 93);
        }
        
        #home20-page .home21-page h1 {
            color: #052f53;
            font-size: 28px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            padding-top: 22px;
            font-weight: 600;
        }
        
        #home20-page .home21-page p {
            color: #052f53;
            font-size: 16px;
            padding-top: 14px;
            font-weight: 400;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        #home22-page {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        
        #home22-page h1 {
            font-size: clamp(2.13333rem, calc(2.13333rem + (32) * ((100vw - 428px) / (1920 - 428))), 4.26667rem);
            line-height: clamp(3.2rem, calc(3.2rem + (32) * ((100vw - 428px) / (1920 - 428))), 5.33333rem);
            color: #153a5b;
            font-weight: 700;
            letter-spacing: -0.00133rem;
            margin-bottom: 0;
            margin-top: 0;
        }
        
        #home22-page .home23-page {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        #home22-page .home23-page .home24-page {
            width: 32%;
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            padding: 30px;
            background-color: rgb(246, 253, 255);
            border-radius: 15px;
            position: relative;
            text-align: center;
        }
        
        #home22-page .home23-page .home24-page:hover {
            cursor: pointer;
        }
        
        #home22-page .home23-page .home24-page img {
            width: 100%;
        }
        
        #home22-page .home23-page .home24-page h2 {
            margin: 0px;
            padding: 0px;
            font-size: clamp(1.06667rem, -1.14745px + 1.06667rem + 0.268097vw, 1.33333rem);
            line-height: 1.2;
            font-weight: 700;
            color: rgb(21, 58, 91);
            padding-top: 20px;
        }
        
        #home22-page .home23-page .home24-page .home25-page {
            display: flex;
            text-align: center;
            justify-content: center;
        }
        
        #home22-page .home23-page .home24-page .home25-page i {
            margin-top: 15px;
            padding: 0px 15px 0px 0px;
            font-size: 20px;
            font-weight: 600;
            color: goldenrod;
        }
        
        #home22-page .home23-page .home24-page h4 {
            padding-top: 15px;
            font-size: clamp(0.93333rem, -0.573727px + 0.93333rem + 0.134048vw, 1.06667rem);
            line-height: 1.5;
            color: rgb(21, 58, 91);
        }
        
        #home22-page .home23-page .home24-page h4 spam {
            gap: 1.06667rem;
            font-family: "Value bold";
            font-size: clamp(0.93333rem, -0.573727px + 0.93333rem + 0.134048vw, 1.06667rem);
            line-height: 1.5;
            color: rgb(21, 58, 91);
            font-weight: bold;
            text-decoration: underline;
            padding-left: 6px;
            cursor: pointer;
        }
        
        #home22-page .home23-page .home24-page h4 span {
            all: unset;
            display: inline-flex;
            text-align: center;
            opacity: 0.6;
            transition-duration: 300ms;
            transition-timing-function: ease-in-out;
            transition-delay: 0ms;
            transition-property: opacity, text-decoration-color;
            cursor: pointer;
            padding: 0px;
            margin: 0px;
            font: inherit;
            text-decoration: underline transparent;
            padding-left: 15px;
        }
        
        #home22-page .home23-page .home24-page h5 {
            font-size: clamp(0.93333rem, -0.573727px + 0.93333rem + 0.134048vw, 1.06667rem);
            line-height: 1.5;
            color: rgb(21, 58, 91);
            padding-top: 12px;
        }
        
        #home22-page .home23-page .home24-page h5 span {
            font-size: clamp(0.93333rem, -0.573727px + 0.93333rem + 0.134048vw, 1.06667rem);
            line-height: 1.5;
            color: rgb(21, 58, 91);
            padding-top: 12px;
            padding-left: 8px;
            text-decoration: line-through;
        }
        
        #home22-page .home23-page .home24-page .cart {
            color: #052f53;
            padding: 9px 23px;
            background-color: white;
            font-size: 16px;
            font-weight: 500;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            cursor: pointer;
            border-radius: 50px;
            border: 1px solid #052f53;
            outline: none;
            margin-top: 10px;
        }
        
        #home22-page .home23-page .home24-page .cart:hover {
            color: white;
            background-color: #052f53;
            border: 1px solid #052f53;
        }
        
        #home22-page .home23-page .home24-page h6 {
            position: absolute;
            top: 30px;
            left: 20px;
            color: white;
            background-color: rgb(3, 76, 82);
            border-radius: 50px;
            font-size: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 900;
            padding: 5px;
            text-transform: uppercase;
        }
        
        #home26-page {
            display: flex;
            flex-direction: column;
            background-image: url("/static/images/19.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top 65% left 40%;
            width: 100%;
            height: 80%;
        }
        
        #home26-page .home27-page {
            display: flex;
            flex-direction: column;
            padding-top: 120px;
            padding-left: 10px;
        }
        
        #home26-page .home27-page h6 {
            color: #ffffff;
            font-size: clamp(0.938rem, 0.833rem + 0.463vw, 1.25rem);
            line-height: clamp(1.25rem, 1.143rem + 0.476vw, 1.375rem);
            margin-bottom: clamp(0.469rem, 0.284rem + 0.379vw, 0.625rem);
            margin-top: 0;
            -webkit-transition: 0.8s ease-in-out;
            transition: 0.8s ease-in-out;
            font-weight: 400;
        }
        
        #home26-page .home27-page h1 {
            color: #ffffff;
            font-size: clamp(1.875rem, 0.268rem + 7.143vw, 3.75rem);
            font-weight: 900;
            line-height: clamp(2.5rem, 1.429rem + 4.762vw, 3.75rem);
            letter-spacing: -0.00133rem;
        }
        
        #home26-page .home27-page h5 {
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            padding-top: 20px;
        }
        
        #home26-page .home27-page button {
            margin-top: 30px;
            padding: 13px 30px;
            border-radius: 75px;
            background-color: #ffffff;
            font-family: Value Bold;
            font-weight: 600;
            font-size: 19px;
            line-height: 1;
            letter-spacing: 3;
            cursor: pointer;
            color: rgb(21, 58, 91);
            border: none;
        }
        
        #home26-page .home27-page button:hover {
            background-color: rgb(21, 58, 91);
            color: #ffffff;
        }
        
        #home28-page {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        #home28-page .home29-page {
            display: flex;
            flex-direction: column;
        }
        
        #home28-page .home29-page h1 {
            font-size: clamp(2.13333rem, calc(2.13333rem + (32) * ((100vw - 428px) / (1920 - 428))), 4.26667rem);
            line-height: clamp(3.2rem, calc(3.2rem + (32) * ((100vw - 428px) / (1920 - 428))), 5.33333rem);
            color: #153a5b;
            font-weight: 700;
            letter-spacing: -0.00133rem;
            margin-bottom: 0;
            margin-top: 0;
        }
        
        #home28-page .home29-page p {
            font-size: clamp(1.06667rem, calc(1.06667rem + (4) * ((100vw - 428px) / (1920 - 428))), 1.33333rem);
            line-height: clamp(1.6rem, calc(1.6rem + (8) * ((100vw - 428px) / (1920 - 428))), 2.13333rem);
            color: rgba(21, 58, 91, 0.8);
            max-width: 68.26667rem;
            margin-top: 1.06667rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            padding-top: 5px;
        }
        
        #home28-page .home30-page button {
            color: #153a5b;
            font-size: 18px;
            font-weight: 800;
            padding: 10px 20px;
            border: 1px solid #153a5b;
            background-color: white;
            cursor: pointer;
            border-radius: 50px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin-top: 37px;
            transition: 0.5s ease;
        }
        
        #home28-page .home30-page button:hover {
            color: white;
            background-color: #052f53;
        }
        
        #home31-page {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        #home31-page .home32-page {
            width: 32%;
            display: flex;
            flex-direction: column;
            margin-top: 45px;
        }
        
        #home31-page .home32-page img {
            width: 100%;
            border-radius: 14px;
        }
        
        #home31-page .home32-page h1 {
            font-size: clamp(1.06667rem, calc(1.06667rem + (4) * ((100vw - 428px) / (1920 - 428))), 1.33333rem);
            line-height: clamp(1.6rem, calc(1.6rem + (8) * ((100vw - 428px) / (1920 - 428))), 2.13333rem);
            color: #153a5b;
            font-weight: 500;
            margin-top: 1.33333rem;
            margin-bottom: 0;
        }
        
        #home31-page .home32-page button {
            color: #052f53;
            font-size: 16px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 300;
            border: none;
            text-decoration: underline;
            margin-top: 12px;
            background-color: white;
        }
        
        #home33-page {
            width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: #f5f9fc;
            margin-top: 50px;
        }
        
        #home33-page .home34-page {
            width: 26%;
            display: flex;
            flex-direction: column;
        }
        
        #home33-page .home34-page h1 {
            color: #153a5b;
            margin: 0;
            padding: 0;
            margin-top: 2.23333rem;
            font-weight: 700;
            margin-bottom: .73333rem;
            letter-spacing: .25px;
        }
        
        #home33-page .home34-page p {
            font-size: clamp(1rem, calc(1rem + (5) * ((100vw - 428px) / (1920 - 428))), 1.33333rem);
            line-height: clamp(1.46667rem, calc(1.46667rem + (8) * ((100vw - 428px) / (1920 - 428))), 2rem);
            color: #153a5b;
            margin-bottom: 2rem;
        }
        
        #home33-page .home34-page .home35-page {
            display: flex;
        }
        
        #home33-page .home34-page .home35-page input {
            border: none;
            outline: none;
            background-color: white;
            padding: 10px 9px;
            font-size: 13px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 400;
            color: #052f53;
            width: 200px;
            border-radius: 50px;
            letter-spacing: 1px;
        }
        
        #home33-page .home34-page .home35-page button {
            border-radius: 50px;
            padding: 10px 15px;
            color: white;
            background-color: #052f53;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            border: none;
            outline: none;
        }
        
        #home33-page .home34-page .home36-page {
            display: flex;
            margin-top: 25px;
        }
        
        #home33-page .home34-page .home36-page i {
            margin: 0px 15px 0px 0px;
            color: #052f53;
            background-color: white;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            border-radius: 50px;
            padding: 10px;
        }
        
        #home33-page .home38-page {
            display: flex;
            flex-direction: column;
            width: 15%;
            padding-top: 30px;
        }
        
        #home33-page .home38-page ul {
            display: flex;
            flex-direction: column;
        }
        
        #home33-page .home38-page ul li {
            list-style: none;
            padding-top: 30px;
        }
        
        #home33-page .home38-page ul li a {
            color: #153a5b;
            background: transparent;
            text-decoration: none;
            font-size: 14px;
            font-weight: 600;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            cursor: pointer;
        }
        
        #home33-page .home39-page {
            display: flex;
            flex-direction: column;
            width: 33%;
        }
        
        .home37-page {
            padding-top: 30px;
            background-color: #f5f9fc;
            padding-left: 70px;
            padding-bottom: 60px;
        }
        
        .home37-page .husi {
            border-radius: 50px;
            border: none;
            outline: none;
            color: #052f53;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 15px;
            font-weight: 600;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background-color: white;
        }
        
        .home37-page .husi img {
            width: 26px;
        }
        
        .home37-page .husi spam {
            padding-left: 10px;
            padding-top: 6px;
        }
        
        .home37-page .husi1 {
            border: none;
            outline: none;
            color: #052f53;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background-color: #052f5300;
            padding-left: 10px;
        }
        /* Css Media Quary */
        
        @media (max-width: 1280px) {
            .navbar .container-fluid .hassan .hassan1 {
                position: absolute;
                left: -160px;
            }
            .navbar .container-fluid .hassan .hassan2 {
                position: absolute;
                left: -330px;
            }
            .navbar .container-fluid .hassan .hassan3 {
                position: absolute;
                left: -430px;
            }
            .navbar .container-fluid .khan .khan1 {
                position: absolute;
                left: -30px;
            }
        }